body {
  background: url(https://miro.medium.com/v2/resize:fit:5120/1*GsImz-edoeuqCMfKxDus0w.jpeg) ;
  height:  100vh;
  background-repeat: no-repeat;
  background-size: cover ;
  /* 허전한 부분 cover 하면 꽉 채워진다. */
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather-box{
  border: 3px  solid darkcyan;
  padding: 50px;
  border-radius: 30px;
  background-color: white;
}